@media only screen and (min-width:600px) {


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);

}


.gridrGeneral{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "seccionResenia seccionResenia seccionTienda seccionTienda seccionTienda seccionTienda"
    /* "seccionResenia seccionResenia seccionTienda seccionTienda seccionTienda seccionTienda" */
    "seccionResenia seccionResenia seccionJugar seccionJugar seccionPartidas seccionPartidas"
   /*  "seccionResenia seccionResenia seccionJugar seccionJugar seccionPartidas seccionPartidas" */;
    gap: 10px;
/*     justify-content: center; */
    align-content: center;

}

.gridHeader{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "section1 section1 section2 section2 section2";
    gap: 10px;
    align-content:center;
}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "suscripcion suscripcion contacto contacto contacto contacto"
    "suscripcion suscripcion nosotros nosotros nosotros nosotros";
    gap: 10px;
    align-content:center;
}

.grid3x2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    gap: 10px;
    }

.grid2x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    gap: 10px;
    }

.contacto{
    /*    width: 800px; */
       text-align: center;
       grid-area: contacto;
   }
   
.nosotros{
   /*     width: 800px; */
       text-align: center;
       grid-area: nosotros;
   }

.suscripcion{
    /*    width: 250px; */
       text-align: center;
       grid-area: suscripcion;
       overflow: auto;
   }


.logo{
    margin: 20px;
    border: 4px solid rgb(43, 182, 192);
    padding: 10px;
    border-radius: 10%;
}

.flex{
    display: flex;
}

.inline{
    display: inline;
}

.inlineBlock{
    display: inline-block;
}

.block{
    display: block;
}


.section1{
    padding: 20px;
    display: inline;
    margin: 30px;
    grid-area: section1;

}

.section2{
    margin: 70px;
    padding: 20px;
    text-align: center;
    display: inline;
    grid-area: section2;
}

.boton{
    background-color: #9eabe4;
    background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
    color: black;
    padding: 7px;
    text-decoration: none;
    border-radius: 10%;
}

.boton:hover{
    background-color: white;
    color: #D7C8B6;
}


.inputContacto{
    width: 300px;
}

.inputContacto2{
    width: 500px;
}


.menuTienda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.jugarPartida{
    display: block;
}

img{
    margin: 10px;
}



/* secciones */

.seccionResenia{
    /* width: 250px;*/
    /* height: 2fr;  */
    text-align: center;
    overflow: auto;
    grid-area: seccionResenia;
}

.seccionTienda{
   /*  width: 800px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionTienda;
    }


.seccionJugar{
   /*  width: 200px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionJugar;
    
}

.seccionPartidas{
   /*  width: 200px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionPartidas;
}



/* textos */
.lista{
    display: inline-block;
    
    }
    
.centrado{
        text-align: center;
    }
    
.titulo{
        font-size: 3rem;
    }
    
.letraComica{
        font-family: 'Henny Penny', cursive;
    }
    
.letraTexto{
        font-family: 'Boogaloo', cursive;
    }
    
.noDecoracion{
        text-decoration: none;
        color: black;
    }

.tituloGrande{
    text-decoration: none;
    color: black;
    font-family: 'Boogaloo', cursive;
    font-size: x-large;
    }
 

}

@media only screen and (max-width:600px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .gridrGeneral{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "seccionResenia"
        "seccionTienda"
        "seccionJugar"
        "seccionPartidas";
        gap: 10px;
        align-content: center;
    
    }

/* secciones */

.seccionResenia{
    /* width: 250px;*/
    /* height: 2fr;  */
    text-align: center;
    overflow: auto;
    grid-area: seccionResenia;
}

.seccionTienda{
   /*  width: 800px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionTienda;
    }


.seccionJugar{
   /*  width: 200px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionJugar;
    
}

.seccionPartidas{
   /*  width: 200px;
    height: 200px; */
    text-align: center;
    overflow: auto;
    grid-area: seccionPartidas;
}



/* textos */
.lista{
    display: inline-block;
    
    }
    
.centrado{
        text-align: center;
    }
    
.titulo{
        font-size: 3rem;
    }
    
.letraComica{
        font-family: 'Henny Penny', cursive;
    }
    
.letraTexto{
        font-family: 'Boogaloo', cursive;
    }
    
.noDecoracion{
        text-decoration: none;
        color: black;
    }

.tituloGrande{
    text-decoration: none;
    color: black;
    font-family: 'Boogaloo', cursive;
    font-size: x-large;
}


.gridHeader{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "section1 section1 section2 section2 section2";
    gap: 10px;
    align-content:center;
}

.gridFooter{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "suscripcion suscripcion contacto contacto contacto contacto"
    "suscripcion suscripcion nosotros nosotros nosotros nosotros";
    gap: 10px;
    align-content:center;
}

.grid3x2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    gap: 10px;
    }

.grid2x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    gap: 10px;
    }

.contacto{
    /*    width: 800px; */
       text-align: center;
       grid-area: contacto;
   }
   
.nosotros{
   /*     width: 800px; */
       text-align: center;
       grid-area: nosotros;
   }

.suscripcion{
    /*    width: 250px; */
       text-align: center;
       grid-area: suscripcion;
       overflow: auto;
   }


.logo{
    margin: 20px;
    border: 4px solid rgb(43, 182, 192);
    padding: 10px;
    border-radius: 10%;
}

.flex{
    display: flex;
}

.inline{
    display: inline;
}

.inlineBlock{
    display: inline-block;
}

.block{
    display: block;
}


.section1{
    padding: 20px;
    display: inline;
    margin: 30px;
    grid-area: section1;

}

.section2{
    margin: 70px;
    padding: 20px;
    text-align: center;
    display: inline;
    grid-area: section2;
}

.boton{
    background-color: #9eabe4;
    background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
    color: black;
    padding: 7px;
    text-decoration: none;
    border-radius: 10%;
}

.boton:hover{
    background-color: white;
    color: #D7C8B6;
}


.inputContacto{
    width: 300px;
}

.inputContacto2{
    width: 500px;
}


.menuTienda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.jugarPartida{
    display: block;
}

img{
    margin: 10px;
}


body{
    background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);

}


}